h2{
    font-size: 3rem;
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
    font-style: oblique;
    color: wheat;
}

.detailsContainer{
    color:  wheat;
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
    justify-content: space-around;
    font-size: 1.3rem;
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details{
    width: 50vw;
}

strong{
    color: white;
}